In [3]:
#importando Bibliotecas
import pandas as pd
import numpy as np
import os

In [4]:
# Obtendo o diretório atual do script
diretorio_atual = os.path.dirname(os.path.abspath('__file__'))

# Construindo o caminho para o arquivo CSV usando o caminho relativo
caminho = os.path.join(diretorio_atual,'..','..','..','..' ,'Data', 'Bases Modificadas', 'base_formatada.csv')

# Carregando o arquivo CSV
df= pd.read_csv(caminho)

## Consolidando Colunas
> Iremos consolidar colunas, como uma estratégia de rduzir o número de atributos, reduzir o número de valores ausentes e criar novas variaveis para nossa Base de Dados.

### Consolidando colunas de Peso e Altura

In [5]:
# Preencher os valores nulos nas colunas de peso e altura usando todas as colunas disponíveis
df['peso_consolidado(KG)'] = df[['P00102', 'P00103', 'P00104', 'W00101', 'W00102']].fillna(method='ffill', axis=1)['P00104']
df['altura_consolidada(CM)'] = df[['P00402', 'P00403', 'P00404', 'W00201', 'W00202']].fillna(method='ffill', axis=1)['P00404']

# Remover as colunas originais de peso e altura
df.drop(columns=['P00102', 'P00103', 'P00104', 'W00101', 'W00102', 'P00402', 'P00403', 'P00404', 'W00201', 'W00202'], inplace=True)


# Exibir as primeiras linhas para verificar se os valores foram preenchidos corretamente e as colunas foram removidas
df.head()

C:\Users\maype\AppData\Local\Temp\ipykernel_14888\1677026242.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['peso_consolidado(KG)'] = df[['P00102', 'P00103', 'P00104', 'W00101', 'W00102']].fillna(method='ffill', axis=1)['P00104']
C:\Users\maype\AppData\Local\Temp\ipykernel_14888\1677026242.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['altura_consolidada(CM)'] = df[['P00402', 'P00403', 'P00404', 'W00201', 'W00202']].fillna(method='ffill', axis=1)['P00404']

,C006,C00702,C00703,C008,M01401,M01501,E01602,E01601,E01603,E01604,...,P019,P02002,P02102,P023,P02401,P02501,P02602,P02601,peso_consolidado(KG),altura_consolidada(CM)
0,2.0,11.0,1963.0,55.0,3.0,0.0,100.0,1.0,NaN,NaN,...,NaN,1.0,2.0,7.0,2.0,0.0,0.0,3.0,60.0,145.0
1,2.0,11.0,1973.0,45.0,1.0,1.0,1000.0,1.0,NaN,NaN,...,2.0,0.0,NaN,0.0,NaN,0.0,0.0,4.0,77.0,155.0
2,2.0,8.0,1960.0,58.0,1.0,0.0,240.0,1.0,NaN,NaN,...,NaN,3.0,2.0,0.0,NaN,0.0,0.0,3.0,56.0,159.0
3,2.0,7.0,1990.0,28.0,3.0,0.0,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,7.0,2.0,2.0,0.0,3.0,55.0,176.0
4,2.0,99.0,9999.0,41.0,3.0,0.0,998.0,1.0,NaN,NaN,...,2.0,1.0,2.0,7.0,1.0,1.0,0.0,3.0,75.0,170.0

In [6]:
# contando valores nulos
nullp = df['peso_consolidado(KG)'].isna().sum()
nulla = df['altura_consolidada(CM)'].isna().sum()

print(f"ficamos com { nullp } valores nulos em Peso e { nulla } valores nulos em Altura")

ficamos com 0 valores nulos em Peso e 0 valores nulos em Altura

In [7]:
# Calcule o IMC
df['IMC'] = df['peso_consolidado(KG)'] / ((df['altura_consolidada(CM)'] / 100) ** 2)

### Consolidando colunas de Renda

In [8]:
# Definir as colunas relacionadas à renda que serão somadas
colunas_renda = [

    'E01602', 'E01601', 'E01605', 'E01802', 'E01804',
    'F001021', 'F007021', 'F008021', 'VDF00102',
]

# Preencher os valores nulos nas colunas de renda com zero
df[colunas_renda] = df[colunas_renda].fillna(0)

# Somar as colunas relacionadas à renda em uma nova coluna 'renda_total'
df['renda_total'] = df[colunas_renda].sum(axis=1)

# Remover as colunas originais relacionadas à renda
df.drop(columns=colunas_renda, inplace=True)

# Exibir as primeiras linhas para verificar se os valores foram preenchidos corretamente e as colunas foram removidas
df.head()

,C006,C00702,C00703,C008,M01401,M01501,E01603,E01604,E01801,E01803,...,P02102,P023,P02401,P02501,P02602,P02601,peso_consolidado(KG),altura_consolidada(CM),IMC,renda_total
0,2.0,11.0,1963.0,55.0,3.0,0.0,NaN,NaN,NaN,NaN,...,2.0,7.0,2.0,0.0,0.0,3.0,60.0,145.0,28.537455,101.0
1,2.0,11.0,1973.0,45.0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,0.0,4.0,77.0,155.0,32.049948,1001.0
2,2.0,8.0,1960.0,58.0,1.0,0.0,NaN,NaN,NaN,NaN,...,2.0,0.0,NaN,0.0,0.0,3.0,56.0,159.0,22.151023,325.0
3,2.0,7.0,1990.0,28.0,3.0,0.0,NaN,NaN,NaN,NaN,...,2.0,7.0,2.0,2.0,0.0,3.0,55.0,176.0,17.755682,0.0
4,2.0,99.0,9999.0,41.0,3.0,0.0,NaN,NaN,NaN,NaN,...,2.0,7.0,1.0,1.0,0.0,3.0,75.0,170.0,25.951557,999.0

In [9]:
# contando valores nulos
df['renda_total'].isna().sum()

np.int64(0)

###  Condolidando Idade, Ano de Nascimento e Mês de Nascimento

In [10]:
# Calcular a idade apenas para os valores nulos de idade
df['idade'] = np.where(df['C008'].isnull(), 2019 - df['C00703'], df['C008'])

# Remover as colunas de mês e ano de nascimento, e a coluna de idade original
df.drop(columns=['C00702', 'C00703', 'C008'], inplace=True)

# Exibir as primeiras linhas para verificar se o cálculo da idade foi feito corretamente e as colunas foram removidas
print(df['idade'].head())

0    55.0
1    45.0
2    58.0
3    28.0
4    41.0
Name: idade, dtype: float64

In [11]:
# contando valores nulos
df['idade'].isna().sum()

np.int64(0)

### Consolidando colunas com informações sobre o trabalho

In [12]:
# Verificar se ambas as colunas 'E001' e 'E002' estão nulas e atribuir NaN para 'trabalhou'
df['trabalhou'] = df.apply(lambda row: np.nan if pd.isna(row['E001']) and pd.isna(row['E002']) else row['E001'] if pd.notna(row['E001']) else row['E002'], axis=1)

# Remover as colunas 'E001' e 'E002'
df.drop(columns=['E001', 'E002'], inplace=True)

# Exibir as primeiras linhas para verificar se a junção foi feita corretamente e as colunas foram removidas
df['trabalhou'].head()

0    1.0
1    1.0
2    1.0
3    2.0
4    1.0
Name: trabalhou, dtype: float64

In [13]:
df['trabalhou'].value_counts()

trabalhou
1.0    41923
2.0    21859
Name: count, dtype: int64

In [14]:
df['trabalhou'].isna().sum()

np.int64(0)

### Consolidando colunas sobre medicamento para depressão

In [15]:
# Verificar se ambas as colunas 'Q09201' e 'Q09202' estão nulas e atribuir NaN para 'medicamento_depressao'
df['medicamento_depressao'] = df.apply(lambda row: np.nan if pd.isna(row['Q09201']) and pd.isna(row['Q09202']) else row['Q09201'] if pd.notna(row['Q09201']) else row['Q09202'], axis=1)

# Remover as colunas 'Q09201' e 'Q09202'
df.drop(columns=['Q09201', 'Q09202'], inplace=True)

# Exibir as primeiras linhas para verificar se a junção foi feita corretamente e as colunas foram removidas
df['medicamento_depressao'].head()

0    1.0
1    NaN
2    NaN
3    NaN
4    NaN
Name: medicamento_depressao, dtype: float64

In [16]:
# contando valores nulos
df['medicamento_depressao'].isna().sum()

np.int64(57990)

> Observamos que mesmo consolidando vários atributos, nosso novo atributo **"medicamento_depressao"** ainda contem 35.765 intâncias **nulas**. 
> Vamos optar por remover este atributo por dois motivos: 
>  - Quantidade de valores nulos. 
>  - Relação direta com nosso dominio de problema, oque pode interferir na construção de nosso modelo.

In [17]:
df.drop(columns=['medicamento_depressao'], inplace=True)

### Consolidando Colunas de Horas Trabalhadas

In [18]:
# Definir as colunas relacionadas às horas trabalhadas que serão somadas
colunas_horas_trabalhadas = ['E017', 'E019']

# Converter colunas categóricas para numéricas
df[colunas_horas_trabalhadas] = df[colunas_horas_trabalhadas].apply(pd.to_numeric, errors='coerce')

# Preencher os valores nulos nas colunas de horas trabalhadas com zero
df[colunas_horas_trabalhadas] = df[colunas_horas_trabalhadas].fillna(0)

# Somar as colunas relacionadas às horas trabalhadas em uma nova coluna 'horas_trabalhadas_total'
df['horas_trabalhadas_total'] = df[colunas_horas_trabalhadas].sum(axis=1)

# Remover as colunas originais relacionadas às horas trabalhadas
df.drop(columns=colunas_horas_trabalhadas, inplace=True)

# Exibir as primeiras linhas para verificar se os valores foram preenchidos corretamente e as colunas foram removidas
df.head()

,C006,M01401,M01501,E01603,E01604,E01801,E01803,E01805,F001011,F007011,...,P02501,P02602,P02601,peso_consolidado(KG),altura_consolidada(CM),IMC,renda_total,idade,trabalhou,horas_trabalhadas_total
0,2.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,0.0,0.0,3.0,60.0,145.0,28.537455,101.0,55.0,1.0,40.0
1,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,0.0,0.0,4.0,77.0,155.0,32.049948,1001.0,45.0,1.0,36.0
2,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,0.0,0.0,3.0,56.0,159.0,22.151023,325.0,58.0,1.0,6.0
3,2.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,2.0,0.0,3.0,55.0,176.0,17.755682,0.0,28.0,2.0,0.0
4,2.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,1.0,0.0,3.0,75.0,170.0,25.951557,999.0,41.0,1.0,16.0

In [19]:
# contando valores nulos
df['horas_trabalhadas_total'].isna().sum()

np.int64(0)

### Consolidando colunas sobre doençãs crônicas

In [20]:
def definir_doencas_cronicas(row):
    if row['J007'] == 1 or row['Q11006'] == 1 or row['Q11007'] == 1 or row['Q11008'] == 1 or row['Q11009'] == 1 or row['Q11010'] == 1:
        return 1  # Possui doença crônica
    else:
        return 2  # Não possui doença crônica

# Criar a coluna 'doencas_cronicas' aplicando a função definir_doencas_cronicas
df['doencas_cronicas'] = df.apply(definir_doencas_cronicas, axis=1)

#Remover as colunas que não serão mais necessárias
colunas_para_remover = ['J007', 'Q11006', 'Q11007', 'Q11008', 'Q11009', 'Q11010']
df.drop(columns=colunas_para_remover, inplace=True)

# Exibir as primeiras linhas para verificar a criação da nova coluna
 
df['doencas_cronicas'].head()

0    1
1    2
2    2
3    2
4    2
Name: doencas_cronicas, dtype: int64

In [21]:
df['doencas_cronicas'].isna().sum()

np.int64(0)

> Caracterização de Saneamento Básico
>
> - Código
> Nesta célula, foi implementada uma função em Python para caracterizar a situação de saneamento básico com base em métricas específicas.
>
> A função `definir_saneamento()` avalia diferentes condições relacionadas ao saneamento básico, como acesso a água potável, esgotamento sanitário e coleta de lixo.
>
> - Métricas Utilizadas
> As métricas utilizadas foram baseadas em questões específicas de um questionário do IBGE relacionadas ao saneamento básico. Essas métricas foram escolhidas por representarem indicadores importantes de acesso a serviços básicos de infraestrutura.

In [22]:
def definir_saneamento(row):
    # Verificar as condições de saneamento básico
    if row['A005012'] == 1 and row['A00601'] == 1 and row['A009010'] in [1, 3, 4]:
        if row['A01401'] > 0 and row['A01402'] == 1 and row['A01403'] == 1 and row['A01501'] == 1 and row['A016010'] in [1, 2, 4]:
            return 1  # Saneamento básico completo (sim)
        else:
            return 1  # Saneamento básico parcial (sim)
    else:
        return 2  # Sem saneamento básico (não)

# Criar a coluna 'saneamento_basico' aplicando a função definir_saneamento
df['saneamento_basico'] = df.apply(definir_saneamento, axis=1)

# Remover as colunas que não serão mais necessárias
colunas_para_remover = ['A005012', 'A00601', 'A009010', 'A01401', 'A01402', 'A01403', 'A01501', 'A016010']
df.drop(columns=colunas_para_remover, inplace=True)

# Exibir as primeiras linhas para verificar a criação da nova coluna
df['saneamento_basico'].head()

0    2
1    2
2    2
3    2
4    2
Name: saneamento_basico, dtype: int64

In [23]:
# contando valores nulos
df['saneamento_basico'].isna().sum()

np.int64(0)

In [24]:
df['saneamento_basico'].value_counts()

saneamento_basico
2    62884
1      898
Name: count, dtype: int64

### Consolidando colunas sobre moradia

> Caracterização de Moradia Vulnerável
>
> - Código
> 
>Nesta célula, foi implementado um código em Python para caracterizar a situação de moradia vulnerável com > base em métricas fornecidas pelo IBGE.
>
>Foi utilizada uma função que avalia diferentes características do domicílio, como tipo de construção, >materiais utilizados nas paredes, cobertura e piso, além da quantidade de cômodos e dormitórios.
>
> - Métricas do IBGE
> 
>As métricas utilizadas foram baseadas em questões específicas de um questionário do IBGE relacionadas à habitação e condições de moradia. Essas métricas foram escolhidas por representarem indicadores importantes de vulnerabilidade habitacional.

In [25]:
def caracterizar_moradia_vulneravel(row):
    tipo_domicilio = row['A001']
    material_paredes = row['A002010']
    material_cobertura = row['A003010']
    material_piso = row['A004010']
    num_comodos = row['A01001']
    num_dormitorios = row['A011']
    
    # Verificar as condições de moradia vulnerável
    if (tipo_domicilio == 3 or material_paredes in [3, 5] or material_cobertura in [3, 5] or 
        material_piso in [4] or num_comodos < num_dormitorios):
        return '1'  # Moradia vulnerável
    else:
        return '2'  # Moradia não vulnerável

# Criar a coluna 'moradia_vulneravel' aplicando a função caracterizar_moradia_vulneravel
df['moradia_vulneravel'] = df.apply(caracterizar_moradia_vulneravel, axis=1)

# Remover as colunas que não serão mais necessárias
colunas_para_remover = ['A001', 'A002010', 'A003010', 'A004010', 'A01001', 'A011']
df.drop(columns=colunas_para_remover, inplace=True)

# Exibir as primeiras linhas para verificar a criação da nova coluna
print(df['moradia_vulneravel'].head())

0    2
1    2
2    2
3    2
4    2
Name: moradia_vulneravel, dtype: object

### Consolidando colunas relacionadas a prática de execícios físicos

In [26]:
df['tempo_total_exercicio'] = df['P03701'] + (df['P03702'] / 60)  # Calcular o tempo total de exercício em horas
df['frequencia_exercicio'] = df['P035']  # Frequência de exercícios por semana

# Remover as colunas originais que não serão mais necessárias
colunas_para_remover = ['P03701', 'P03702', 'P035']
df.drop(columns=colunas_para_remover, inplace=True)

df[['tempo_total_exercicio', 'frequencia_exercicio']].head()

   tempo_total_exercicio  frequencia_exercicio
0                    0.5                   1.0
1                    NaN                   NaN
2                    1.0                   3.0
3                    0.5                   1.0
4                    2.0                   7.0

In [27]:
df[['tempo_total_exercicio', 'frequencia_exercicio']].isna().sum()

tempo_total_exercicio    37621
frequencia_exercicio     36655
dtype: int64

### Consolidando colunas relacionadas ao consumo de bebidas alcolicas

In [28]:
# Métricas relacionadas ao consumo de bebidas alcoólicas
df['doses_bebida_alcoolica'] = df['P02801'] * df['P029']  # Calcular o total de doses de bebidas alcoólicas por semana
df['freq_bebida_alcoolica'] = df['P027']  # Frequência de consumo de bebidas alcoólicas

# Remover as colunas originais que não serão mais necessárias
colunas_para_remover = ['P02801', 'P029', 'P027']
df.drop(columns=colunas_para_remover, inplace=True)

df[['doses_bebida_alcoolica', 'freq_bebida_alcoolica']].head(10)

   doses_bebida_alcoolica  freq_bebida_alcoolica
0                     NaN                    2.0
1                     7.0                    3.0
2                     NaN                    1.0
3                     NaN                    1.0
4                     NaN                    1.0
5                    10.0                    3.0
6                     0.0                    3.0
7                     NaN                    1.0
8                     NaN                    1.0
9                     NaN                    1.0

In [29]:
df[['doses_bebida_alcoolica', 'freq_bebida_alcoolica']].isna().sum()

doses_bebida_alcoolica    43945
freq_bebida_alcoolica         0
dtype: int64

### Consolidando colunas sobre alimentação

In [30]:
# Consolidando as colunas conforme as novas categorias
df['Consumo de Graos e Tuberculos'] = df[['P00601', 'P00602']].sum(axis=1)
df['Consumo de Leguminosas'] = df[['P00603', 'P006']].sum(axis=1)
df['Consumo de Carnes'] = df[['P00604', 'P01101', 'P013', 'P015']].sum(axis=1)
df['Consumo de Ovos'] = df['P00605']
df['Consumo de Verduras e Legumes'] = df[['P00607', 'P00608', 'P00609', 'P00901', 'P01001']].sum(axis=1)
df['Consumo de Frutas'] = df[['P00610', 'P00611', 'P018', 'P019']].sum(axis=1)
df['Consumo de Laticinios'] = df[['P00612', 'P023', 'P02401']].sum(axis=1)
df['Consumo de Oleaginosas'] = df['P00613']
df['Consumo de Refrigerantes'] = df[['P00614', 'P02002', 'P02102']].sum(axis=1)
df['Consumo de Sucos Industrializados'] = df[['P00615', 'P02001', 'P02101']].sum(axis=1)
df['Consumo de Sucos Naturais'] = df['P01601']
df['Consumo de Bebidas Lacteas'] = df['P00616']
df['Consumo de Salgadinhos e Biscoitos Salgados'] = df['P00617']
df['Consumo de Doces e Sobremesas Industrializadas'] = df[['P00618', 'P00619', 'P02501']].sum(axis=1)
df['Consumo de Embutidos e Alimentos Processados'] = df[['P00620', 'P00623']].sum(axis=1)
df['Consumo de Paes Industrializados'] = df['P00621']
df['Consumo de Molhos Industrializados'] = df['P00622']
df['Substituicao de Refeicoes por Lanches Rapidos'] = df['P02602']
df['Consumo de Sal'] = df['P02601']


# Removendo as colunas que não serão mais usadas
colunas_para_remover = [
    'P00601', 'P00602', 'P00603', 'P00604', 'P00605', 'P00607', 'P00608', 
    'P00609', 'P00610', 'P00611', 'P00612', 'P00613', 'P00614', 'P00615', 
    'P00616', 'P00617', 'P00618', 'P00619', 'P00620', 'P00621', 'P00622', 
    'P00623', 'P006', 'P00901', 'P01001', 'P01101', 'P013', 'P015', 
    'P02001', 'P02101', 'P01601', 'P018', 'P019', 'P02002', 'P02102', 
    'P023', 'P02401', 'P02501', 'P02602', 'P02601'
]
df.drop(columns=colunas_para_remover, inplace=True)

### Removendo colunas irrelevantes

In [31]:
# Lista das colunas a serem removidas
colunas_para_remover = ['E01801', 'E01803', 'E01805', 'E01201', 'F001011', 'F007011', 'F008011', 'VDF001', 
                        'Q09301', 'Q094', 'Q09502', 'Q09605', 'Q09606', 'Q09607', 'Q098', 'Q100', 
                        'Q10101', 'Q10202', 'Q104', 'Q105', 'Q106', 'Q10701', 'Q109','E01604', 'E01603',
                        ]

# Remover as colunas especificadas
df.drop(columns=colunas_para_remover, inplace=True)

### Renomeando Colunas
> Renomeando nossas colunas para facilitar o entendimento

In [32]:
df.rename(columns={
    'C006': 'Sexo',
    'M01401': 'Apoio_Familiar',
    'M01501': 'Apoio_de_Amigos',
    'E01401': 'Tipo_de_Trabalho',
    'E014011': 'Trabalhador_Nao_Remunerado',
    'M005011': 'Horas_Trabalhadas_Noite',
    'M00601': 'Freq_Trabalho_Noite',
    'D00901': 'Curso_Mais_Elevado',
    'Q092': 'Diagnostico_Depressao',
    'N00101': 'Estado_de_Saude',
    'P034': 'Pratica_Exercicio',
    'P036': 'Exercicio_Mais_Frequente',
    'J00402': 'Motivo_Impedimento_Atividades',
    'J01101': 'Ultima_Consulta_Medica',
    'J014': 'Procura_Atendimento_Saude',
    'J01502': 'Motivo_Atendimento_Saude',
    'H024': 'Orientacoes_Saude',
    'N010': 'Problemas_Sono',
   
   
}, inplace=True)

# Exibir as primeiras linhas para verificar as colunas renomeadas
df.head()

,Sexo,Apoio_Familiar,Apoio_de_Amigos,Tipo_de_Trabalho,Trabalhador_Nao_Remunerado,Horas_Trabalhadas_Noite,Freq_Trabalho_Noite,Curso_Mais_Elevado,Diagnostico_Depressao,Estado_de_Saude,...,Consumo de Sucos Industrializados,Consumo de Sucos Naturais,Consumo de Bebidas Lacteas,Consumo de Salgadinhos e Biscoitos Salgados,Consumo de Doces e Sobremesas Industrializadas,Consumo de Embutidos e Alimentos Processados,Consumo de Paes Industrializados,Consumo de Molhos Industrializados,Substituicao de Refeicoes por Lanches Rapidos,Consumo de Sal
0,2.0,3.0,0.0,6.0,NaN,NaN,NaN,5.0,1.0,3.0,...,10.0,0.0,2.0,2.0,4.0,4.0,2.0,1.0,0.0,3.0
1,2.0,1.0,1.0,3.0,NaN,NaN,NaN,10.0,2.0,1.0,...,2.0,7.0,1.0,2.0,4.0,3.0,2.0,2.0,0.0,4.0
2,2.0,1.0,0.0,3.0,NaN,NaN,NaN,4.0,2.0,3.0,...,2.0,3.0,2.0,2.0,4.0,4.0,2.0,2.0,0.0,3.0
3,2.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,6.0,4.0,2.0,2.0,5.0,4.0,2.0,2.0,0.0,3.0
4,2.0,3.0,0.0,3.0,NaN,NaN,NaN,10.0,2.0,2.0,...,2.0,7.0,2.0,2.0,5.0,4.0,2.0,2.0,0.0,3.0

In [33]:
df.columns

Index(['Sexo', 'Apoio_Familiar', 'Apoio_de_Amigos', 'Tipo_de_Trabalho',
       'Trabalhador_Nao_Remunerado', 'Horas_Trabalhadas_Noite',
       'Freq_Trabalho_Noite', 'Curso_Mais_Elevado', 'Diagnostico_Depressao',
       'Estado_de_Saude', 'Pratica_Exercicio', 'Exercicio_Mais_Frequente',
       'Motivo_Impedimento_Atividades', 'Ultima_Consulta_Medica',
       'Procura_Atendimento_Saude', 'Motivo_Atendimento_Saude',
       'Orientacoes_Saude', 'Problemas_Sono', 'peso_consolidado(KG)',
       'altura_consolidada(CM)', 'IMC', 'renda_total', 'idade', 'trabalhou',
       'horas_trabalhadas_total', 'doencas_cronicas', 'saneamento_basico',
       'moradia_vulneravel', 'tempo_total_exercicio', 'frequencia_exercicio',
       'doses_bebida_alcoolica', 'freq_bebida_alcoolica',
       'Consumo de Graos e Tuberculos', 'Consumo de Leguminosas',
       'Consumo de Carnes', 'Consumo de Ovos', 'Consumo de Verduras e Legumes',
       'Consumo de Frutas', 'Consumo de Laticinios', 'Consumo de Oleaginosas',
       'Consumo de Refrigerantes', 'Consumo de Sucos Industrializados',
       'Consumo de Sucos Naturais', 'Consumo de Bebidas Lacteas',
       'Consumo de Salgadinhos e Biscoitos Salgados',
       'Consumo de Doces e Sobremesas Industrializadas',
       'Consumo de Embutidos e Alimentos Processados',
       'Consumo de Paes Industrializados',
       'Consumo de Molhos Industrializados',
       'Substituicao de Refeicoes por Lanches Rapidos', 'Consumo de Sal'],
      dtype='object')

In [34]:
# Construindo o caminho para o arquivo CSV usando o caminho relativo
caminho = os.path.join(diretorio_atual,'..','..','..','..' ,'Data', 'Bases Modificadas', 'base_consolidada.csv')

# Exportando o arquivo CSV
df.to_csv(caminho, index= False)