### Importando Bibliotecas e Base de Dados

In [12]:
# Importando Bibliotecas
import pandas as pd
import os

In [13]:
# Obtendo o diretório atual do script
diretorio_atual = os.path.dirname(os.path.abspath('__file__'))

# Construindo o caminho para o arquivo CSV usando o caminho relativo
caminho = os.path.join(diretorio_atual,'..','..','..','..' ,'Data', 'Bases Modificadas', 'pns_filtrada.csv')

# Carregando o arquivo CSV
df= pd.read_csv(caminho)

> VISUALIZANDO BASE DE DADOS

In [14]:
df.head()

,C006,C00702,C00703,C008,M01401,M01501,E01602,E01601,E01603,E01604,...,P01601,P018,P019,P02002,P02102,P023,P02401,P02501,P02602,P02601
0,2.0,11.0,1963.0,55.0,3.0,0.0,100.0,1.0,NaN,NaN,...,0.0,3.0,NaN,1.0,2.0,7.0,2.0,0.0,0.0,3.0
1,2.0,11.0,1973.0,45.0,1.0,1.0,1000.0,1.0,NaN,NaN,...,7.0,7.0,2.0,0.0,NaN,0.0,NaN,0.0,0.0,4.0
2,2.0,8.0,1960.0,58.0,1.0,0.0,240.0,1.0,NaN,NaN,...,3.0,3.0,NaN,3.0,2.0,0.0,NaN,0.0,0.0,3.0
3,2.0,7.0,1990.0,28.0,3.0,0.0,NaN,NaN,NaN,NaN,...,4.0,3.0,NaN,1.0,2.0,7.0,2.0,2.0,0.0,3.0
4,2.0,99.0,9999.0,41.0,3.0,0.0,998.0,1.0,NaN,NaN,...,7.0,7.0,2.0,1.0,2.0,7.0,1.0,1.0,0.0,3.0

### Convertendo Tipos de Dados

In [15]:
# Verificar os tipos de dados atuais
df.dtypes

C006      float64
C00702    float64
C00703    float64
C008      float64
M01401    float64
           ...
P023      float64
P02401    float64
P02501    float64
P02602    float64
P02601    float64
Length: 137, dtype: object

In [16]:
# Converter as colunas para categóricas
df = df.astype('category')

In [17]:
# Lista das colunas que devem ser numéricas
colunas_numericas = [
    
  'C00702', # Mês de nascimento
  'C00703',# Ano de nascimento   
       
  'M01401', # Com quantos familiares ou parentes pode contar em momentos bons ou ruins                            
  'M01501', # Com quantos amigos próximos ___ pode contar em momentos bons ou ruins (Sem considerar os familiares ou parentes
  'E01602', #Qual era o rendimento bruto mensal ou retirada que ___ fazia normalmente nesse trabalho?(valor em dinheiro)
  'E01601', #...recebia/fazia normalmente nesse trabalho rendimento/retirada em dinheiro?
  'E01603', #...recebia/fazia normalmente nesse trabalho rendimento/retirada em produtos ou mercadorias?
  'E01604', #Qual era o rendimento bruto mensal ou retirada que ___ fazia normalmente nesse trabalho?(valor estimado em produtos ou mercadorias)
  'E01605', #...recebia/fazia normalmente nesse trabalho rendimento/retirada somente em benefícios ?
  'E01801', #...recebia/fazia normalmente nesse(s) outro(s) trabalho(s) rendimento/retirada em dinheiro?
  'E01802', #Qual era o rendimento bruto mensal ou retirada que ___ fazia normalmente nesse(s) outro(s) trabalho(s)?(valor em dinheiro)
  'E01803', #...recebia/fazia normalmente nesse(s) outro(s) trabalho(s) rendimento/retirada em produtos ou mercadorias?
  'E01804', #Qual era o rendimento bruto mensal ou retirada que ___ fazia normalmente nesse(s) outro(s) trabalho(s)?(valor estimado em produtos ou mercadorias)
  'F001021', #Valor habitualmente recebido
  'F007021', #Valor habitualmente recebido
  'F008021', #Valor habitualmente recebido
  'VDF00102', #Valor recebido em reais (VDF001)
  'E019', #Quantas horas ___ trabalhava normalmente, por semana, nesses outros trabalhos? 
  'E001',#Na semana de___ a___ (semana de referência), ___ trabalhou ou estagiou, durante pelo menos uma hora, em alguma atividade remunerada em dinheiro
  'E002',#Na semana de ___a___ (semana de referência), ___ trabalhou ou estagiou, durante pelo menos uma hora, em alguma atividade remunerada em produtos, mercadorias, moradia, alimentação, treinamento ou aprendizado etc
  'E017', # Quantas horas ___ trabalhava normalmente, por semana, nesse trabalho?
  'M005011', #Quantas horas trabalha(va) por dia, habitualmente, no período de 8 horas da noite e 5 horas da manhã
  'M00601', #Com que frequência, habitualmente, o(a) Sr(a) trabalha(va) no horário entre 8 horas da noite e 5 horas da manhã em algum dos seus trabalhos
  
  
  'P035', # Quantos dias por semana o(a) Sr(a) costuma  (costumava)praticar exercício físico ou esporte?
  'P03701', #Em geral, no dia que o(a) Sr(a) pratica exercício ou esporte, quanto tempo em horas dura essa atividade? Horas 
  'P03702', # Em geral, no dia que o(a) Sr(a) pratica (praticava) exercício ou esporte, quanto tempo em minutos dura essa atividade?Minutos 
  'P02801', # Quantos dias por semana o(a) Sr(a) costuma consumir alguma bebida alcoólica? 
  'P029', # Em geral, no dia que o(a) Sr(a) bebe, quantas doses de bebida alcoólica o(a) Sr(a) consome? 
  
  'P00103',#Peso - Informado (em kg)(3 inteiros e 1 casa decimal)
  'W00101', # Peso - 1ª pesagem (em kg)
  'W00102', # Peso - 2ª pesagem (em kg)
  'W00201', # Altura - 1ª medição (em cm)
  'W00202', # Altura - 2ª medição (em cm)
  'P00403', # Altura - Informada (em cm)
  'P00404',#Altura - Final (em cm)(3 inteiros)


  
  'P006', # Em quantos dias da semana o(a) Sr(a) costuma comer feijão? 
  'P00901', # Em quantos dias da semana, o(a) Sr(a) costuma comer pelo menos um tipo de verdura ou legume (sem contar batata, mandioca, cará ou inhame) como alface, tomate, couve, cenoura, chuchu, berinjela, abobrinha? 
  'P01101', # Em quantos dias da semana o(a) Sr(a) costuma comer carne vermelha (boi, porco, cabrito, bode, ovelha etc.)? 
  'P013', # Em quantos dias da semana o(a) Sr(a) costuma comer frango/galinha? 
  'P015', #Em quantos dias da semana o(a) Sr(a) costuma comer peixe? 
  'P02001', # Em quantos dias da semana o(a) Sr(a) costuma tomar suco de caixinha/lata ou refresco em pó ? 
  'P01601', # Em quantos dias da semana o(a) Sr(a) costuma tomar suco de fruta natural (incluída a polpa de fruta congelada)? 
  'P018', # Em quantos dias da semana o(a) Sr(a) costuma comer frutas? 
  'P02002', #  Em quantos dias da semana o(a) Sr(a) costuma tomar refrigerante? 
  'P023', # Em quantos dias da semana o(a) Sr(a) costuma tomar leite? (de origem animal: vaca, cabra, búfala etc.) 
  'P02501', # Em quantos dias da semana o(a) Sr(a) costuma comer alimentos doces como biscoito/bolacha recheado, chocolate, gelatina, balas e outros?
  'P02602', # Em quantos dias da semana o(a) Sr(a) costuma substituir a refeição do almoço por lanches rápidos como sanduíches, salgados, pizza, cachorro quente, etc? 




  
  
  ].copy() 

# Converter as colunas para numéricas
df[colunas_numericas] = df[colunas_numericas].astype('float')

# Verificar os tipos de dados após a conversão
for coluna in colunas_numericas:
    print(df[coluna].dtypes)

float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

### Criando Resumo 
> Agora vamos criar uma tabela que mostre cada variável, seu tipo e a quantidade de valores alsentes.

In [18]:
# Função para resumir as informações
def resumir_variaveis(df):
    resumo = pd.DataFrame({
        'Variável': df.columns,
        'Tipo': [df[col].dtype for col in df.columns],
        'Valores Nulos': [df[col].isnull().sum() for col in df.columns]
    })
    return resumo

# Gerando a tabela de resumo
resumo_variaveis = resumir_variaveis(df)


# Exibindo a tabela de resumo (opcional)
print(resumo_variaveis)

    Variável      Tipo  Valores Nulos
0       C006  category              0
1     C00702   float64              0
2     C00703   float64              0
3       C008  category              0
4     M01401   float64              0
..       ...       ...            ...
132     P023   float64              0
133   P02401  category          20565
134   P02501   float64              0
135   P02602   float64              0
136   P02601  category              0

[137 rows x 3 columns]

In [19]:
# Obtendo caminho para arquivo
# Construindo o caminho para o arquivo CSV usando o caminho relativo
caminho = os.path.join(diretorio_atual,'..','..','..','..' ,'Documentos', 'Tabelas', 'resumo_variaveis_formatadas.xlsx')

# Exportando para Excel
resumo_variaveis.to_excel(caminho, index=False)

### Exportando Dados

In [20]:
# Construindo o caminho para o arquivo CSV usando o caminho relativo
caminho = os.path.join(diretorio_atual,'..','..','..','..' ,'Data', 'Bases Modificadas', 'base_formatada.csv')

# Exportando o arquivo CSV
df.to_csv(caminho, index= False)