# Análise Inicial dos Dados Gerais

In [1]:
# Importando Bibliotecas
import pandas as pd
import os

In [17]:
# Obtendo o diretório atual do script
diretorio_atual = os.path.dirname(os.path.abspath('__file__'))

# Construindo o caminho para o arquivo CSV usando o caminho relativo
caminho = os.path.join(diretorio_atual,'..','..','..' ,'Data', 'pns2019', 'pns2019.csv')

# Carregando o arquivo CSV
df_original = pd.read_csv(caminho)

In [18]:
# 1. Visualização das primeiras linhas do DataFrame
print("Primeiras linhas do DataFrame:")
df_original.head()

Primeiras linhas do DataFrame:

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
0,11,1110011,110000016,1,1,2019,6.0,1,1,1.0,...,1.0,6.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
1,11,1110011,110000016,1,1,2019,6.0,1,1,0.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
2,11,1110011,110000016,1,1,2019,6.0,1,1,0.0,...,1.0,4.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
3,11,1110011,110000016,1,1,2019,6.0,1,1,9.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
4,11,1110011,110000016,1,1,2019,6.0,1,1,9.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825

In [19]:
# 2. Número de linhas e colunas
print("Temos", df_original.shape[0], "linhas e", df_original.shape[1], "colunas.")

Temos 293726 linhas e 1087 colunas.

In [20]:
# 3. Informações gerais sobre o DataFrame
print("\nInformações gerais sobre o DataFrame:")
print(df_original.info())

Informações gerais sobre o DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293726 entries, 0 to 293725
Columns: 1087 entries, V0001 to VDDATA
dtypes: float64(1078), int64(9)
memory usage: 2.4 GB
None

In [21]:
# 4. Contagem de valores únicos em cada coluna
print("\nContagem de valores únicos em cada coluna:")
print(df_original.nunique())

Contagem de valores únicos em cada coluna:
V0001          27
V0024         574
UPA_PNS      8031
V0006_PNS      18
V0015          12
             ...
VDL001         31
VDM001          4
VDP001          3
VDR001          9
VDDATA          1
Length: 1087, dtype: int64

In [22]:
#5. Contagem de valores nulos em cada coluna com mais de 1 valor nulo
# Contagem de valores nulos em cada coluna
print("\nContagem de valores nulos em cada coluna:")
null_counts = df_original.isnull().sum()

# Filtrando as colunas que possuem mais de 1 valor nulo
null_counts_filtered = null_counts[null_counts > 1]

null_counts_filtered

Contagem de valores nulos em cada coluna:

V0022       14344
V0025A      14344
V0025B     273014
A001        14344
A002010     14344
            ...
VDF004      14516
VDL001     287094
VDM001     249264
VDP001     285577
VDR001     276350
Length: 1078, dtype: int64

# Analise dos Dados Filtrados no Primeiro Momento

In [23]:
# Importando Dados
# Obtendo o diretório atual do script
diretorio_atual = os.path.dirname(os.path.abspath('__file__'))

# Construindo o caminho para o arquivo CSV usando o caminho relativo
caminho = os.path.join(diretorio_atual,'..','..','..' ,'Data', 'Bases Modificadas', 'pns_filtrada.csv')

# Carregando o arquivo CSV
df_filtrado = pd.read_csv(caminho)

In [24]:
# 1. Visualização das primeiras linhas do DataFrame
print("Primeiras linhas do DataFrame:")
df_filtrado.head()

Primeiras linhas do DataFrame:

,C006,C00702,C00703,C008,M01401,M01501,E01602,E01601,E01603,E01604,...,P01601,P018,P019,P02002,P02102,P023,P02401,P02501,P02602,P02601
0,2.0,11.0,1963.0,55.0,3.0,0.0,100.0,1.0,NaN,NaN,...,0.0,3.0,NaN,1.0,2.0,7.0,2.0,0.0,0.0,3.0
1,2.0,11.0,1973.0,45.0,1.0,1.0,1000.0,1.0,NaN,NaN,...,7.0,7.0,2.0,0.0,NaN,0.0,NaN,0.0,0.0,4.0
2,2.0,8.0,1960.0,58.0,1.0,0.0,240.0,1.0,NaN,NaN,...,3.0,3.0,NaN,3.0,2.0,0.0,NaN,0.0,0.0,3.0
3,2.0,99.0,9999.0,41.0,3.0,0.0,998.0,1.0,NaN,NaN,...,7.0,7.0,2.0,1.0,2.0,7.0,1.0,1.0,0.0,3.0
4,2.0,12.0,1966.0,52.0,2.0,1.0,250.0,1.0,NaN,NaN,...,3.0,3.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,3.0

In [25]:
# 2. Número de linhas e colunas
print("Temos", df_filtrado.shape[0], "linhas e", df_filtrado.shape[1], "colunas.")

Temos 40359 linhas e 138 colunas.

In [26]:
# 3. Informações gerais sobre o DataFrame
print("\nInformações gerais sobre o DataFrame:")
print(df_filtrado.info())

Informações gerais sobre o DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40359 entries, 0 to 40358
Columns: 138 entries, C006 to P02601
dtypes: float64(138)
memory usage: 42.5 MB
None

In [30]:
# 4. Contagem de valores únicos em cada coluna
print("\nContagem de valores únicos em cada coluna:")
print(df_filtrado.nunique())

Contagem de valores únicos em cada coluna:
C006       2
C00702    13
C00703    28
C008      26
M01401     4
          ..
P023       8
P02401     3
P02501     8
P02602     8
P02601     5
Length: 138, dtype: int64

In [29]:
#5. Contagem de valores nulos em cada coluna com mais de 1 valor nulo
# Contagem de valores nulos em cada coluna
print("\nContagem de valores nulos em cada coluna:")
null_counts = df_filtrado.isnull().sum()

# Filtrando as colunas que possuem mais de 1 valor nulo
null_counts_filtered = null_counts[null_counts > 1]

null_counts_filtered

Contagem de valores nulos em cada coluna:

E01602    14459
E01601    14459
E01603    40174
E01604    40174
E01605    40355
          ...
P01001    18197
P02101    28638
P019      21402
P02102    24408
P02401    12653
Length: 70, dtype: int64